---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCE = [
  {
    date: "Agosto 2024 - Enero 2025 ",
    title: "Tecnico Instalador",
    company: "TS Solutions",
    description:
      "Participe en la implementación de un sistema de seguridad para las casetas de Puerto Cancún. Asistí en la instalación del cableado estructurado y sistemas de control de acceso. \n\n Contribuí en la renovación de infraestructura Wi-Fi del Hotel Hilton Playa del Carmen, reemplazando todos los Access Point y certificando el cableado estructurado. \n\n Realicé el mantenimiento de los sistemas de videovigilancia de Shark Tower, SLS y Novo Cancún. Además, me encargué de documentar reportes técnicos y registrar incidencias para su seguimiento y resolución",
  },
  {
    date: "Mayo 2024 - Agosto 2024",
    title: "Tecnico de Soporte",
    company: "Hotel Hyatt Zilara Cancún",
    description:
      "Proporcioné soporte técnico tanto presencial como remoto a colaboradores y huéspedes del hotel, atendiendo incidencias relacionadas con conectividad, hardware y periféricos. \n\n Gestioné el inventario de hardware, instalé cerraduras electrónicas SALTO en habitaciones y asistí en el mantenimiento de impresoras y equipos de cómputo.",
  },
  {
    date: "Diciembre 2022 - Mayo 2024",
    title: "Mesero & Barista",
    company: "Pasteleria Tentazioni Kohunlich",
    description:
      "Preparé café gourmet, bebidas frías y frappés, asegurando la calidad y la presentación de cada bebida. Atendí a los clientes con un trato cordial y de manera eficiente, priorizando una experiencia satisfactoria. \n\n Mantuve el área de trabajo limpia y organizada, cumpliendo con las normas de higiene y seguridad alimentaria. Gestione el inventario de insumos y suministros, garantizando la frescura del producto. Aprendí a trabajar en equipo y a adaptarme a un entorno dinámico y de alta demanda. ",
  },
]
---

<ol class="relative mt-16">
  {
    EXPERIENCE.map((experience) => (
      <li class="">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
