---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCE = [
  {
    date: "Agosto 2024 - Enero 2025 ",
    title: "Tecnico Instalador",
    company: "TS Solutions",
    description:
      "Participe en la implementación de un sistema de seguridad para las casetas de Puerto Cancún. Asistí en la instalación del cableado estructurado y sistemas de control de acceso. \n\n Contribuí en la renovación de infraestructura Wi-Fi de un hotel en Playa del Carmen, reemplazando todos los Access Point y certificando el cableado estructurado. \n\n Realicé la instalación y mantenimiento de sistemas de videovigilancia Hikvision en distintos hoteles y condominios. Me encargué de documentar reportes técnicos y registrar incidencias para su seguimiento y resolución.",
  },
  {
    date: "Mayo 2024 - Agosto 2024",
    title: "Tecnico de Soporte",
    company: "Hotel Hyatt Zilara Cancún",
    description:
      "Proporcioné soporte técnico tanto presencial como remoto a colaboradores y huéspedes del hotel, atendiendo incidencias relacionadas con conectividad, hardware y periféricos. \n\n Gestioné el inventario de hardware, instalé cerraduras electrónicas en habitaciones y asistí en el mantenimiento de impresoras y equipos de cómputo.",
  },
]
---

<ol class="relative mt-16">
  {
    EXPERIENCE.map((experience) => (
      <li class="">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
